.highlights-container{
    margin: auto;
    width: min-content;
}

.highlights-container li{
    list-style: none;
}

.highlight-grid{
    margin-top: 8vh;
    margin-bottom: 13vh;
    display: grid;
    gap: 50px;
    justify-items: safe center;
    grid-template-columns: repeat(3, 25vw);
}

.highlights-section-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 13vh;
    color: #474747;
}

.highlights-section-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 70%;
    font-size: 15px;
    line-height: 23px;
    color: #474747;
    margin-top: 3vh;
}

.highlights-section-title strong{
    font-weight: 500;
}