body{
    font-size: 16px;
}
.highlights-container{
    margin: auto;
    width: min-content;
}

.highlights-container li{
    list-style: none;
}

.highlight-grid{
    margin-top: 5vw;
    margin-bottom: 5vw;
    display: grid;
    gap: 50px;
    justify-items: safe center;
    grid-template-columns: repeat(3, 25vw);
}

.highlights-section-title{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    margin-top: 5vw;
    font-size: 1.7em;
    transition: transform 0.5s;
    color: #474747;
}

.highlights-section-title:hover,.highlights-section-subtitle:hover{
    transform: translate(-1px, 0px)
}

.highlights-section-subtitle{
    font-family: 'Montserrat', sans-serif;
    font-weight: 400;
    width: 70vw;
    font-size: 0.9em;
    line-height: 23px;
    color: #012F65;
    margin-top: 2vw;
    transition: transform 0.5s;
}

.highlights-section-title strong{
    font-weight: 500;
}