.details-card{
    background-color: #f7f7f7;
    height: 110px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #474747;
    margin: 0;
    text-transform: uppercase;
}

.price{
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin: 5px 0px;
    display: flex;
    flex-direction: row;
    color: #012F65;
}

.fav-btn{
    border: 0px;
    background-color: transparent;
    height: 14px;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0px;
    transition: transform 0.3s;
}

.fav-btn:focus{
    background-image: url('../../img/heartc.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    outline: 0px;
}


.fav-btn:hover{
    background-image: url('../../img/heartc.svg');
    background-repeat: no-repeat;
    background-size: 14px;
    cursor: pointer;
    transform: scale(1.1)
}

.fav-check{
    display: none;
}

.fav-check:checked + label{
    background-image: url('../../img/heartc.svg');
    background-repeat: no-repeat;
}
