.details-card{
    background-color: #FCFCFC;
    height: 110px;
    padding: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    position: relative;
}

.description{
    font-family: Roboto;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    color: #474747;
    margin: 0;
    text-transform: uppercase;
}

.price{
    font-family: roboto;
    font-style: normal;
    font-weight: 400;
    font-size: 36px;
    margin: 0;
    display: flex;
    flex-direction: row;
    color: #012F65;
}

.fav-btn{
    border: 0px;
    background-color: transparent;
    height: 10px;
    position: absolute;
    right: 15px;
    top: 15px;
    padding: 0;
}

.fav-btn img{
    height: 14px;
}

.fav-btn img:hover{
    background-image: url('../../img/heartc.svg');
    background-repeat: no-repeat;
    background-size: 13px;
    cursor: pointer;
}
